<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.ItemProjectDao">


    <!--//新增-->
    <insert id="saveItemProject">
        insert into gc_item_project(itemProjectName,itemProjectDesc,itemProjectStart,
                    itemProjectEnd,itemProjectDay,subProjectId)
        values(#{itemProjectName},
        #{itemProjectDesc},
        #{itemProjectStart},
        #{itemProjectEnd},
        (SELECT DATEDIFF(#{itemProjectEnd},#{itemProjectStart})),
        #{subProjectId})
    </insert>

    <delete id="deleteItemProjectById">
        delete from gc_item_project where itemProjectId=#{itemProjectId}
    </delete>

    <update id="updateItemProjectById">
        update gc_item_project set
        itemProjectName=#{itemProjectName},
        itemProjectDesc=#{itemProjectDesc},
        itemProjectStart=#{itemProjectStart},
        itemProjectEnd=#{itemProjectEnd},
        itemProjectDay=(SELECT DATEDIFF(#{itemProjectEnd},#{itemProjectStart}))
        where
        itemProjectId=#{itemProjectId}
    </update>

    <!--根据id查询-->
    <select id="findItemProjectById" resultType="ItemProject">
        SELECT
        a.itemProjectId,
        a.itemProjectName,
        a.itemProjectDesc,
        a.itemProjectState,
        a.itemProjectStart,
        a.itemProjectEnd,
        a.itemProjectDay,
        a.userId,
        a.subProjectId,
        b.subProjectName
        FROM gc_item_project a LEFT JOIN gc_sub_project b
        ON a.subProjectId = b.subProjectId
        WHERE itemProjectId=#{itemProjectId}
    </select>

    <sql id="item_where">
        <where>
            <if test="itemProjectName!=null">
                itemProjectName like concat('%',#{itemProjectName},'%')</if>
            <if test="itemProjectDesc!=null">
                and itemProjectDesc like concat('%',#{itemProjectDesc},'%')</if>
        </where>
    </sql>
    <select id="findItemProjectList" resultType="com.hz.gc.vo.itemVo">
        select
        a.itemProjectId,
        a.itemProjectName,
        a.itemProjectDesc,
        a.itemProjectState,
        a.itemProjectStart,
        a.itemProjectEnd,
        a.itemProjectDay,
        b.subProjectName,
        c.totalProjectName
        FROM gc_item_project a
        LEFT JOIN gc_sub_project b ON a.subProjectId = b.subProjectId
        LEFT JOIN gc_total_project c ON b.totalProjectId = c.totalProjectId
        <include refid="item_where"/>
        order by itemProjectId desc
        limit #{pyl},#{page_size}
    </select>

    <select id="findItemProjectListCount" resultType="int" >
        select count(1) FROM gc_item_project a LEFT JOIN gc_sub_project b
        ON a.subProjectId = b.subProjectId
        <include refid="item_where"/>
    </select>
</mapper>
