<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.PermissionsDao">
    <select id="findPermissionPathByUserId" resultType="java.lang.String">
        select c.permValue
        from gc_user_role_relation a
        left join
        gc_role_permissions b
        on
        a.roleId = b.roleId
        left join
        gc_permissions c
        on
        b.permId = c.permId
        where a.userId = #{userId}
    </select>
    

</mapper>
