<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.ProgressDao">

    <sql id="progress_where">
        <where>
            <if test="itemProjectName!=null">
                itemProjectName like concat('%',#{itemProjectName},'%')
            </if>
        </where>
    </sql>

    <select id="findProgressList" resultType="com.hz.gc.vo.ProgressVo">
        select
        gc_progress.progressId,
        gc.gc_item_project.itemProjectName,
        gc.gc_progress.progressExpectedStater,
        gc.gc_progress.progressExpectedEnd,
        gc.gc_item_project.itemProjectDay,
        gc_progress.progressActualStart,
        gc_progress.progressActualEnd,
        gc_progress.progressDay
        from gc_progress
        left join gc_item_project
        on gc_progress.itemProjectId = gc_item_project.itemProjectId
        <include refid="progress_where"/>
        order by progressId desc
        limit #{pyl},#{page_size}


    </select>

    <select id="findProgressListCount" resultType="int">
        select count(*) from gc_progress
        left join gc_item_project
        on gc_progress.itemProjectId = gc_item_project.itemProjectId
        <include refid="progress_where"/>
    </select>



    <update id="updateProgressDate">
        update gc_progress set
        progressActualStart = #{progressActualStart},
        progressActualEnd = #{progressActualEnd},

        <choose>
            <when test="progressActualEnd == null">
                progressDay = (SELECT DATEDIFF(NOW(),progressActualStart))
            </when>
            <otherwise>
                progressDay = (SELECT DATEDIFF(progressActualEnd,progressActualStart))
            </otherwise>
        </choose>
        where
        progressId = #{progressId}
    </update>


    <insert id="saveProgress">
        insert into gc_progress(itemProjectId,progressExpectedStater,progressExpectedEnd,progressActualStart,progressActualEnd)
        VALUES(
        (SELECT itemProjectId FROM gc_item_project WHERE itemProjectName = #{itemProjectName}),
        (SELECT itemProjectStart FROM gc_item_project WHERE itemProjectName = #{itemProjectName}),
        (SELECT itemProjectEnd FROM gc_item_project WHERE itemProjectName = #{itemProjectName}),
        (SELECT a.progressActualStart FROM gc_daily_progress a
        LEFT JOIN gc_progress b ON a.progressId = b.progressId
        LEFT JOIN gc_item_project c ON c.itemProjectId = b.itemProjectId
        WHERE itemProjectName = #{itemProjectName}
        ),
        (SELECT a.progressActualEnd FROM gc_daily_progress a
        LEFT JOIN gc_progress b ON a.progressId = b.progressId
        LEFT JOIN gc_item_project c ON c.itemProjectId = b.itemProjectId
        WHERE itemProjectName = #{itemProjectName}
        )
        )
    </insert>


</mapper>
