<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.RoleDao">

    <sql id="role_where">
        <where>
            <if test="roleName!=null">roleName like concat('%',#{roleName},'%') </if>
        </where>
    </sql>

    <select id="findRoleList" resultType="com.hz.gc.pojo.Role">
        select * from gc_role
        <include refid="role_where"/>
        order by roleId desc
        limit #{pyl},#{page_size}
    </select>

    <select id="findRoleListCount" resultType="int" >
        select count(*) from gc_role

        <include refid="role_where"/>
    </select>

    <select id="selectRoleById" resultType="com.hz.gc.pojo.Role">
        select * from gc_role where roleId=#{roleId}
    </select>

    <update id="updateRole" >
        update gc_role
        set
        roleId=#{roleId},
        roleDesc = #{roleDesc},
        roleName =#{roleName},
        adminId=#{adminId},
		roleStatus=#{roleStatus}
        where roleId=#{roleId}
    </update>


    <insert id="addRole">
        insert into gc_role(roleId,roleDesc,roleName,adminId,roleStatus)
        values(#{roleId},#{roleDesc},#{roleName},#{adminId},#{roleStatus})
    </insert>


    <delete id="deleteRoleById">
        delete from gc_role where roleId =#{roleId}
    </delete>

</mapper>
