<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.SubProjectDao">
    <sql id="provider_where">
        <where>
            <if test="subProjectName!=null">
                subProjectName like concat('%',#{subProjectName},'%')</if>
            <if test="subProjectDesc!=null">
                and subProjectDesc like concat('%',#{subProjectDesc},'%')</if>
        </where>
    </sql>

<!--//组合查询-->
    <select id="findSubProjectList" resultType="com.hz.gc.vo.SubProjectVo">
        select
        a.subProjectId,
        a.subProjectName,
        a.subProjectDesc,
        a.subProjectStart,
        a.subProjectEnd,
        a.subProjectRegion,
        a.subProjectState,
        b.totalProjectName,
        a.subProjectDay
        from gc_sub_project a
       left join gc_total_project b on a.totalProjectId = b.totalProjectId
        <include refid="provider_where"/>
       order by subProjectId desc
        limit #{pyl},#{page_size}
    </select>
    <!--计算条数-->
    <select id="findSubProjectListCount" resultType="int" >
        select count(1) from gc_sub_project a
        left join gc_total_project b on a.totalProjectId = b.totalProjectId
        <include refid="provider_where"/>
    </select>
<!--根据id删除-->
    <delete id="deleteSubProjectById">
        delete from  gc_sub_project where subProjectId=#{subProjectId}
    </delete>
<!--//修改-->
    <update id="updateSubProject">
        update gc_sub_project set
        subProjectName=#{subProjectName},
        subProjectDesc=#{subProjectDesc},
        subProjectStart=#{subProjectStart},
        subProjectEnd=#{subProjectEnd},
        subProjectDay=(SELECT DATEDIFF(#{subProjectEnd},#{subProjectStart})),
        subProjectRegion=#{subProjectRegion},
        subPranchUser=#{subPranchUser}

        where
        subProjectId=#{subProjectId}
    </update>
    <!--//根据id查询-->
    <select id="selectSubProjectById" resultType="com.hz.gc.pojo.SubProject">
        select * from gc_sub_project
        /*left join gc_total_project*/
        where subProjectId=#{subProjectId}
    </select>

    <!--//新增-->
    <insert id="saveSubProject">
        insert into gc_sub_project(
        subProjectName,
        subProjectDesc,
        subProjectStart,
        subProjectEnd,
        subProjectDay,
        subProjectRegion,
        subPranchUser,
        totalProjectId
        )
        values(#{subProjectName},
        #{subProjectDesc},
        #{subProjectStart},
        #{subProjectEnd},
        (SELECT DATEDIFF(#{subProjectEnd},#{subProjectStart})),
        #{subProjectRegion},
        #{subPranchUser},
        #{totalProjectId}
        )

    </insert>

</mapper>
