<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.TotalProjectDao">


    <sql id="totalProject_where">
        <where>
            <if test="totalProjectName!=null">
                totalProjectName like concat('%',#{totalProjectName},'%')</if>
            <if test="totalProjectDesc!=null">
                and totalProjectDesc like concat('%',#{totalProjectDesc},'%')</if>
        </where>
    </sql>
    <select id="findTotalProjectList" resultType="com.hz.gc.pojo.TotalProject">
        select * from gc_total_project
        <include refid="totalProject_where"/>
        order by totalProjectId desc
        limit #{pyl},#{page_size}
    </select>
    <select id="findTotalProjectListCount" resultType="int" >
        select count(1) from gc_total_project
        <include refid="totalProject_where"/>
    </select>


    <delete id="deleteTotalProjectById">
        delete from  gc_total_project where totalProjectId=#{totalProjectId}
    </delete>
    <select id="findTotalProjectById" resultType="com.hz.gc.pojo.TotalProject">
        select * from gc_total_project where totalProjectId=#{totalProjectId}
    </select>

    <insert id="saveTotalProject">
        insert into gc_total_project(totalProjectName,totalProjectDesc/*totalProjectState*/,totalProjectAddress,totalProjectStart,
                    totalProjectEnd,totalProjectDay)
        values(#{totalProjectName},
        #{totalProjectDesc},

        #{totalProjectAddress},
        #{totalProjectStart},
        #{totalProjectEnd},
        (SELECT DATEDIFF(#{totalProjectEnd},#{totalProjectStart}))
        )
    </insert>

    <update id="updateTotalProject">
        update gc_total_project set
        totalProjectName=#{totalProjectName},
        totalProjectDesc=#{totalProjectDesc},
        totalProjectState=#{totalProjectState},
        totalProjectStart=#{totalProjectStart},
        totalProjectEnd=#{totalProjectEnd},
        totalProjectDay=(SELECT DATEDIFF(#{totalProjectEnd},#{totalProjectStart}))

         where
        totalProjectId=#{totalProjectId}
    </update>


</mapper>