<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.gc.dao.UserDao">

    <sql id="user_where">
        <where>
            <if test="userName!=null">
                userName like concat('%',#{userName},'%')</if>
            <if test="positionName!=null">
                and positionName like concat('%',#{positionName},'%')</if>
        </where>
    </sql>
    <select id="findUserList" resultType="com.hz.gc.pojo.User">
        select * from gc_user a
        LEFT JOIN gc_position b
        ON a.positionId = b.positionId
        <include refid="user_where"/>
        /*order by userId desc*/
        limit #{pyl},#{page_size}
    </select>

       <select id="findUserListCount" resultType="int" >
        select count(*) from gc_user a
        LEFT JOIN gc_position b
        ON a.positionId = b.positionId
        <include refid="user_where"/>
    </select>

    <select id="selectUserById" resultType="com.hz.gc.pojo.User">
        select * from gc_user where userId =#{userId}
    </select>

    <delete id="deleteUserById">
        delete from gc_user where userId =#{userId}
    </delete>

    <update id="updateUserById">
        update gc_user
        set
        userName=#{userName},
        userPassword = #{userPassword},
        userSex =#{userSex},
        userPhone=#{userPhone},
		adminId=#{adminId},
		positionId=#{positionId}
        where
        userId =#{userId}
    </update>

    <insert id="addUser">
        insert into gc_user(userName,userPassword,userSex,userPhone,positionId,adminId)
        values(#{userName},#{userPassword},#{userSex},#{userPhone},#{positionId},#{adminId})
    </insert>

</mapper>
