<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" >
    <div class="layui-form-item">
        <label class="layui-form-label required">用户名称</label>
        <div class="layui-input-block">
            <input type="text" name="subProjectName" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名称" value="" class="layui-input">
            <!--<tip>填写自己管理账号的名称。</tip>-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">工程描述</label>
        <div class="layui-input-block">
            <input type="text" name="subProjectDesc" lay-verify="required" lay-reqtext="工程描述不能为空" placeholder="请输入工程描述" value="" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label required">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="userSex" value=1 title="男" checked="">
            <input type="radio" name="userSex" value=2 title="女">
        </div>
    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label required">预计开始时间</label>
        <div class="layui-input-block">
            <input type="text" name="subProjectStart" lay-verify="required"  placeholder="预计开始时间" value="" class="layui-input">
        </div>
    </div>
    <!--lay-reqtext="手机 号不能为空"-->
    <div class="layui-form-item">
    <label class="layui-form-label required">预计结束日期</label>
    <div class="layui-input-block">
        <input type="text" name="subProjectEnd" lay-verify="required" ay-reqtext="手机号不能为空" placeholder="请输入结束日期" value="" class="layui-input">
    </div>
</div>
    <div class="layui-form-item">
        <label class="layui-form-label required">请输入地 区</label>
        <div class="layui-input-block">
            <input type="text" name="subProjectRegion" lay-verify="required"  placeholder="请输入地区描述" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">请输入编号</label>
        <div class="layui-input-block">
            <input type="number" name="totalProjectId" lay-verify="required"  placeholder="请输入请输入编号 " value="" class="layui-input">
        </div>
    </div>
    <!--<div class="layui-form-item">-->
        <!--<label class="layui-form-label required">岗位</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="radi  o" name="positionId" value="1" title="监理">-->
            <!--<input type="radio" name="positionId" value="2" title="包工头">-->
            <!--<input type="radio" name="positionId" value="3" title="测绘人员">-->
        <!--</div>-->
    <!--</div>-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;



        //loading层

        //日期
        laydate.render({
            elem: '#addtime'
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {

            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

                $.post("/subProject/saveSubProject",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {

                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();


                });
            },"json");

        });
            return false;


    });
</script>
</body>
</html>