<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label required">工程名名称</label>
        <input th:value="${subProject.subProjectId}"  lay-verify="required" type="hidden" name="subProjectId"/>
        <div class="layui-input-block">
            <input type="text" name="subProjectName" lay-verify="required" lay-reqtext="工程名不能为空" placeholder="请输入工程名" th:value="${subProject.subProjectName}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label required">项目描述</label>
    <div class="layui-input-block">
    <input type="text" name="subProjectDesc" lay-verify="required" lay-reqtext="项目描述不能为空" placeholder="请输入描述" th:value="${subProject.subProjectDesc}" class="layui-input">
    </div>
    </div>
    <div class="layui-form-item">
    <label class="layui-form-label required">地区描述</label>
    <div class="layui-input-block">
    <input type="text" name="subProjectRegion" lay-verify="required" lay-reqtext="地区描述不能为空" placeholder="请输入地区描述" th:value="${subProject.subProjectRegion}"  class="layui-input">
    </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">预计开始时间</label>
            <div class="layui-input-block">
                <input type="text" name="subProjectStart" lay-verify="required" lay-reqtext="开始时间不能为空" placeholder="请输入开始时间" th:value="${subProject.subProjectStart}"  class="layui-input">
            </div>
    </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">预计 结束时间</label>
            <div class="layui-input-block">
                <input type="text" name="subProjectEnd" lay-verify="required" lay-reqtext="预计结束不能为空" placeholder="请输入预计结束" th:value="${subProject.getSubProjectEnd()}"  class="layui-input">
            </div>
        </div>
    <!--<div class="layui-form-item">
        <label class="layui-form-label required">岗位</label>
        <div class="layui-input-block">
            <input type="radio"  name="positionId" title="监理" th:value="${user.positionId}">
            <input type="radio" name="positionId" title="包工头" th:value="${user.positionId}">
            <input type="radio" name="positionId" title="测绘人员" th:value="${user.positionId}">
        </div>
    </div>-->
    <!--<div class="layui-form-item layui-form-text ">
        <label class="layui-form-label">备注信息</label>
        <div class="layui-input-block">
            <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
        </div>
    </div>-->

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保 存</button>
        </div>
    </div>
</div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        laydate = layui.laydate;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
           // parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

            $.post("/subProject/updateSubProject",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {
                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();


                });
            },"json");

            return false;
        });

    });
</script>
</body>
</html>