<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" >
    <div class="layui-form-item">
        <label class="layui-form-label required">变更内容</label>
        <div class="layui-input-block">
            <input type="text" name="changeContent" lay-verify="required" lay-reqtext="内容不能为空" placeholder="请输入变更内容" value="" class="layui-input">
            <!--<tip>填写自己管理账号的名称。</tip>-->
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">变更人</label>
        <div class="layui-input-block">
            <input type="text" name="userId" lay-verify="required" lay-reqtext="变更id不能为空" placeholder="请输入变更id" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">分项工程名称</label>
        <div class="layui-input-block">
            <input type="text" name="itemProjectId" lay-verify="required" lay-reqtext="分项工程不能为空" placeholder="请输入分项工程id" value="" class="layui-input">
        </div>
    </div>
    <!-- <div class="layui-form-item">
         <label class="layui-form-label required">公告发布时间</label>
         <div class="layui-input-block">
             <input type="number" name="noticeAddtime" lay-verify="required" lay-reqtext="公告时间" placeholder="请输入发布时间" value="" class="layui-input">
         </div>
     </div>-->
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$,
            laydate = layui.laydate;



        //loading层

        //日期
        laydate.render({
            elem: '#addtime'
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {

            parent.layer.load(1, {shade: [0.1,'#fff'] });//开启遮罩

            $.post("/change/addChange",data.field,function(res){
                var index = parent.layer.alert(res.msg, function () {

                    //刷新表格
                    parent.tab.reload();
                    // 关闭弹出层
                    parent.layer.close(index);
                    parent.layer.closeAll();


                });
            },"json");

        });
        return false;


    });
</script>
</body>
</html>